<div class="page">
  <div class="background-orb orb-left"></div>
  <div class="background-orb orb-right"></div>

  <app-header [brandName]="brandName" [navItems]="navItems"></app-header>
  <app-hero [content]="heroContent"></app-hero>
  <app-skills [categories]="skillCategories"></app-skills>
  <app-highlights [items]="highlights"></app-highlights>
  <app-projects [items]="projects"></app-projects>
  <app-timeline [items]="timeline"></app-timeline>
  <app-contact [content]="contact"></app-contact>
</div>
